*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.background{
    margin: 0;
    padding: 0;
    width: 98vw;
    height: 16vh;
    background-color: #002E34;
    display:flex;
    justify-content: center;
    align-items: center;
}

.background > ul{
    display: flex;
    padding: 15px;
    margin: 0 20px;
    list-style: none;
}

.logo{
    background-color: pink;
    color:white;
    display: block;
    width: 25px;
    height: 20px;
    
}

.home {
    background-color: yellow;
    text-decoration: none;
    padding-left: 50px;
}

.aboutUs {
    background-color: green;
    text-decoration: none;
}

#login {
    background-color: red;
    padding-left: 60px;
}

#search {
    background-color: red;
    padding-left: 60px;
}